@{
	Layout = "_AdminLayout";
}

@model Bio

<h2>Header logo - @Model.HeaderLogoName</h2>
<p>Footer Email - @Model.FooterEmail</p>
<p>Footer Number - @Model.FooterNumber</p>
<p>Footer Address - @Model.FooterAddress</p>

<a class="btn btn-secondary" asp-action="Index">Go Back</a>