@{
	Layout = "_AdminLayout";
}

@model RegisterVM

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="~/Admin/images/logo.svg" alt="logo">
                        </div>
                        <h4>New here?</h4>
                        <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>

                        <form class="pt-3">
                            <div class="form-group">
                                <input asp-for="Name" class="form-control form-control-lg" placeholder="Name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Surname" class="form-control form-control-lg" placeholder="Surname">
                                <span class="text-danger" asp-validation-for="Surname"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="UserName" class="form-control form-control-lg" placeholder="UserName">
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Email" class="form-control form-control-lg" placeholder="Email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Password" class="form-control form-control-lg" placeholder="Password">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="CheckPassword" class="form-control form-control-lg" placeholder="Password">
                                <span class="text-danger" asp-validation-for="CheckPassword"></span>
                            </div>
                          
                           
                            <div class="mb-4">
                                <div class="form-check">
                                    <label class="Is Remember">
                                        <input type="checkbox" class="form-check-input">
                                        Is Remember ?
                                    </label>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-secondary">Sign Up</button>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                Already have an account? <a asp-controller="Account" asp-action="Login" class="text-primary">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>