@model List<Service>

@foreach (Service service in Model)
{
    <div class="col-lg-6 mb-5">
        <div class="row align-items-center">
            <div class="col-sm-5">
                <img class="img-fluid mb-3 mb-sm-0" src="~/img/@service.Image" alt="">
            </div>
            <div class="col-sm-7">
                <h4>@service.Name</h4>
                <p class="m-0">@service.Description</p>
            </div>
        </div>
    </div>
}